@import '../../shared/variables.scss';

.actorAddContainer {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.actorAddBtn {
  width: 100%;
}

.actorAddBtnDisabled {
  opacity: 0.3;
  cursor: default;

  &:hover {
    background-color: $blue;
  }
}

.actorCancelContainer {
  width: 100%;

  &Btn {
    color: $darkBlue;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.2;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
  }
}
