@import '../../shared/variables.scss';

.hobby {
  text-align: center;
  width: fit-content;
  padding: 5px 8px;
  background: $lightBlue2;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 1.2;
  color: $darkBlue2;
}
