.homepage {
  position: relative;
  min-height: 100vh;

  &Content {
    padding: 56px 16px;
  }
}

.actorActions {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  margin-bottom: 34px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  &Btn {
    width: 47%;
  }
}
