$blue: #6308f7;
$darkBlue: #14142b;
$lightPurple: #eee5fe;
$orange: #f4b740;
$blue-gray: #6e7191;
$green: #00994d;
$lightGreen: #e5fff2;
$lightYellow: #fefee5;
$darkPink: #ed2e7e;
$lightPink: #ffe5f2;
$brown: #6a5300;
$white-grey: #f7f7fc;
