$blue: #6308f7;
$darkBlue: #14142b;
$darkBlue2: #032596;
$lightPurple: #eee5fe;
$orange: #f4b740;
$lightBlue: #eff0f7;
$lightBlue2: #e5ebfe;
$blueGray: #6e7191;
$blueGray2: #4e4b66;
$green: #00994d;
$lightGreen: #e5fff2;
$lightYellow: #fefee5;
$darkPink: #ed2e7e;
$lightPink: #ffe5f2;
$brown: #6a5300;
$whiteGrey: #f7f7fc;
$red: #98014c;
