@import '../../shared/variables.scss';

.header {
  padding: 17px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 2;

  &Text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: $darkBlue;
  }
}
