@import '../../shared/variables.scss';

.formGroup {
  margin-bottom: 24px;

  &Label {
    color: $blueGray;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  &Input {
    background: $lightBlue;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    padding: 16px;

    &:focus {
      outline: 3px groove $blue;
      outline-offset: 1px;
    }
  }

  &Message {
    color: $red;
    font-weight: 600;
    font-size: 13px;
  }

  &SubmitBtn {
    width: 100%;
  }
}

.formGroupContainer {
  background: $lightBlue;
  border-radius: 10px;
  width: 100%;
  padding: 16px;

  &Textarea {
    height: 100px;
    width: 100%;
  }

  &Message {
    color: $blueGray2;
    font-weight: 300;
    font-size: 10px;
  }

  &:focus-within {
    outline: 3px groove $blue;
    outline-offset: 1px;
  }
}

.formInvalidField {
  background: $lightPink;
  border: 2px solid $darkPink;
}
